img{
 margin: 0;
}
.channel-image{
 width: 25px;
 border-radius: 15px;
}
.thumbnail-image{
 width: 0;
 width: 100%;
 margin-bottom: 10px;
}
.youtube-logo{
 height: 20px;
 margin-left: 8px;
}
.hamburger-menu{
 height: 20px;
}
.voice-search-icon{
 width: 40px;
}
.search-butt-image{
 width: 20px;
}
.upload, .youtube-apps, .my-channel, .notification{
 height: 30px;
}
.voice-but{
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 20px;
height: 30px;
 border-radius: 13px;
 border-width: 0px;
 margin-left: 10px;

}
.search-but{
 margin-left:  -1.0px;
 padding-top: 5px;
 border-width: 2px;
 border-color: black;
 border-radius: 2px;
 height: 35px;
 width: 60px;
}

