.video-info-div{
 width: 220px;
}
.body-flex{
 display: flex;
 flex-direction: column;
}
.header-flex{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.search-bar-div{
 flex: 1;
 padding: 2px;
 margin-left: 20px;
 margin-right: 20px;
}
.body-grid{
 flex: 1;
}
.thumbnail-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
 column-gap: 20px;
 row-gap: 20px;
}
.search-bar{
 height: 30px;
width: 60%;

}
.thumbnail{
 width: 100%;
}
.channel-div{
 display: flex;
 flex-direction: row;
}
.channel-image-div{
 width: 50px;
}
.video-info-div{
 flex: 1;
}
p{
 margin: 0px;
}
.header-3{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.header-1{
padding-top: 6px;
}
.header-2{
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: center;
}

